<!-- Modal -->
<div class="modal fade" id="modal-detail" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Medidas disponibles para {{frame.name}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12" style="padding-top: 0px;">
              <div class="alert alert-info" role="alert">Por favor seleccione las medidas deseadas e ingrese la cantidad de cada marco.</div>
          </div>            
            <div class="col-xs-8 col-xs-offset-2" style="padding-top: 0px;">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th></th>
                    <th>Medidas</th>
                    <th class="text-right">Precio U.</th>
                    <th>Cantidad</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let det of frame.detail; let i = index">
                    <td> <input type="checkbox" [checked]="det.checked" (change)="check($event.target.checked, i)"></td>
                    <td>{{det.width}} x {{det.height}}</td>
                    <td class="text-right">{{det.price | currency:'MXN':'$'}}</td>
                    <td>
                      <input type="text" [disabled]="!det.checked" class="form-control" value="{{det.quantity}}" (keyup)="input(i, $event.target.value)">
                    </td>                                
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>