#frames-wrapper .thumbnail{
    max-width: 225px; 
    border-radius: 0px;   
}

#frames-wrapper .col-xs-2, #frames-wrapper .col-xs-8, #frames-wrapper .col-xs-12, #frames-wrapper .col-xs-4{
    padding-top: 10px;
}

#frames-wrapper p{
    margin: 0 0 2px;
    font-size: 12px;
}

#frames-wrapper .caption h4 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
}

#frames-wrapper .form-control{
    height: 29px;
}

#lbl-total {
    font-size: 30px;
}

#total {
    font-size: 30px;
    margin-left: 30px;
}

#frames-wrapper .label-success{
    margin-right: 4px;
    padding: 4px;
    padding-left: 16px;
    padding-right: 6px;
    border-radius: 0px !important;
}
#frames-wrapper .label-success a{
    margin-left: 18px;
    cursor: pointer;
}
.page-header {
    background-image: url("/assets/images/header.png") ;
    background-color: #000;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: 1000px ;
    background-repeat: no-repeat;
    height: 118px;
    width: 100%;
}

.page-header h2{
    padding-top: 64px;
    padding-left: 250px;
    color: #fff;
}

.alert, .well, .panel{
    border-radius: 0px !important;
}

#send-request{
    border-radius: 0px !important;
    margin-top: 20px;
    width: 136px;
}

.well{
    padding: 10px !important;
}
