<div id="frames-wrapper">
  <div class="row">
      <div class="col-xs-12" style="padding: 0;">
        <div class="page-header">
          <h2>Molduras de Madera, Aluminio y Poliestireno</h2>
        </div>
        <div class="alert alert-info" role="alert">Seleccione los marcos que desee agregar a su cotización para realizar el cálculo total. Recuerde que todos los precios estan sujetos a cambios según disponibilidad, el monto mostrado puede variar, pero puede servir como base. Última actualización de precios <b>15 de Abril del 2018</b>.</div>
        <div class="well well-lg text-right">
          <div class="row">
              <div class="col-xs-8" style="padding-top: 0px;">
                  <div *ngIf="frames?.length > 0" class="col-xs-12 text-left" style="padding-top: 0px;">
                      <div *ngIf="(frames | isInFramesChecked)?.length" style="margin-bottom: 10px;"><b>Marcos seleccionados:</b></div>
                      <div *ngFor="let frame of frames | isInFramesChecked">
                          <span  class="label label-success">{{frame.model}}<a (click)="unCheck(frame)">X</a></span>
                      </div>
                      
                  </div>                  
              </div>
              <div class="col-xs-4" style="padding-top: 0px;">
                <div class="col-xs-12" style="padding-top: 0px;">
                  <span id="lbl-total">Total:</span>
                  <span id="total">{{total | currency:'MXN':'$'}}</span>
                </div>
                <div class="col-xs-12 text-right">
                  <button id="send-request" (click)="showModal()" [disabled]="!(frames | isInFramesChecked)?.length" type="button" class="btn btn-primary">Enviar Solicitud</button>
                </div>                  
              </div>
          </div>                    
        </div>
      </div>
    </div>
    <div class="row">
        <div *ngIf="frames?.length > 0" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div *ngFor="let cat of categories" class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading{{cat.id}}">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{cat.id}}" aria-expanded="true" attr.aria-controls="collapse{{cat.id}}">
                  {{cat.name}}
                </a>
              </h4>
            </div>
            <div id="collapse{{cat.id}}" class="panel-collapse collapse in" role="tabpanel" attr.aria-labelledby="heading{{cat.id}}">
              <div class="panel-body">
                  <div *ngFor="let frame of frames | filterByCategoryID: cat.id" class="col-xs-2">
                    <div class="thumbnail" (click)="showDetail(frame)"> 
                      <img alt="100%x200" data-src="holder.js/100%x200" src="/assets/images/{{frame.image}}" data-holder-rendered="true"> 
                      <div class="caption"> 
                        <h4>{{frame.name}}</h4>                                 
                      </div> 
                    </div>
                  </div>
              </div>
            </div>
          </div>                        
        </div>      
    </div>
</div>
<modal [frames]="frames" [totalFrames]="total"></modal>
<modal-detail *ngIf="frameSelected" [frame]="frameSelected" (action)="onFrameCheck($event)"></modal-detail>
